h1{
	text-align: center;
	margin-top: 80px;
	font-family: cursive;
}

input[type=submit]{
	margin-top: 18px;
 	font-family: cursive;
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
}

p{
	font-family: cursive;
	font-size: 18pt;
}

label{
	font-family: cursive;
	font-size: 16pt;
}

input[type=text]{
    height: 25px;
    width: 95px;
    margin-top: 10px;
    border-style: solid;
}

#re-send-otp{
    margin-top: 18px;
    font-family: cursive;
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
}

