p{
	font-family: cursive;
	font-size: 15pt;
}

label{
	font-family: cursive;
	margin-top: 50px;
}

#equality{
	font-size: 15px;
	font-style: italic;
	font-family: cursive;
	color: red;
	margin-top: -9px;
}