<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>OTP Verification</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/reset-pwd-otp.css}">
</head>

<body>
<p>A Six-digit OTP is sent to your Email Address,</p>
<form action="/verify-otp" method="post">
<label for="otp">Please enter it below:</label><br>
<input type="text" id="otp" name="otp" placeholder="Enter OTP Here" maxlength="6" required>
<p id="invalid" th:text="${invalid}"></p>
<input type="submit" value="Submit">
</form>
</body>
</html>