<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/reset-password.css}">
</head>

<body>

<form action="/verify-user" method="post">
<label for="email">Enter your registered Email Address:</label><br>
<input type="email" id="email" name="email" placeholder="example@domain.com" required><br>
<input type="submit" value="Get OTP">
</form>
</body>
</html>