<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Set New Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/set-new-password.css}">
<script type="text/javascript" th:src="@{/js/set-new-password.js}"></script>
</head>

<body>
<p>All set to Reset your Password now.</p>
<form action="/update-password" method="post">
<label for="password">Enter New Password:</label><br>
<input type="password" id="password" name="password" placeholder="8-16 Characters" required><br>
<label for="conPassword">Confirm Password:</label><br>
<input type="password" id="conPassword" name="conPassword" placeholder="Same as above" required><br>
<input type="checkbox" id="show-password" onclick="showPassword()">
<label for="show-password">Show Password</label><br><br>
<p id="equality" th:text="${invalid}"></p>
<input type="submit" value="Change My Password" onfocus="areEqual()" onmouseover="areEqual()">


</form>
</body>
</html>